nodes_quantity = 3
vcpus = 1
memory = 1024
subnet_cidr = ["10.42.42.0/24"]
os_image_url = "https://ftp.lip6.fr/ftp/pub/linux/distributions/fedora/releases/36/Cloud/x86_64/images/Fedora-Cloud-Base-36-1.5.x86_64.qcow2"
#os_image_url = "/var/lib/libvirt/boot/debian-11-genericcloud-amd64.qcow2"
#os_image_url = "/var/lib/libvirt/boot/kinetic-server-cloudimg-amd64-disk-kvm.img"
packages = ["iftop","lsof","rsync"]
storage_pool = "default"
user = "alice"
uid = "2337"
password = "unsecurepassword"
ssh_authorized_key = "ssh-rsa AAAA"

